/* variables */
:root {
  --main-font: "Nunito Sans", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
}

/* global */

.container {
  width: 1088px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  z-index: 2;
}

/* header */

.banner {
  display: flex;
  height: 95vh;
  width: 100%;
  background-image: url(../assets/Image.png);
  background-size: cover;
  background-position: center;
  position: relative;
  justify-content: center;
  align-items: center;
}

.banner::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.5);
  z-index: 1;
}

.banner .top-bar {
  display: flex;
  width: 100%;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #ffffff33;
  background-image: url(../assets/);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
}

nav a {
  color: white;
  font-family: var(--main-font);
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  padding: 43px;
}

nav ul {
  display: flex;
  height: 100%;
  align-items: center;
}

nav a:hover {
  background-color: #ffffff33;
  transition: 0.5s;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 31px;
  height: auto;
  margin-right: 10px;
}

.logo .top--title {
  color: #ff0000;
  font-family: var(--main-font);
  font-weight: bolder;
  font-size: 35px;
  padding-left: 0;
}
.logo .top--title span {
  color: #ffffff;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 35px;
}
.top-bar .container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.container--sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 387px;
  position: relative;
}
.title {
  color: #ffffff;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 90px;
  padding-bottom: 40px;
}
.text {
  color: #ffffff;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  padding-bottom: 70px;
}

.button {
  height: 0 auto;
  font-family: var(--main-font);
  font-weight: bold;
  padding: 22px 55px 22px 55px;
  border-radius: 40px 40px 40px 40px;
  text-decoration: none;
}

.button--red {
  background-color: #ff0000;
  color: #ffffff;
}

.button__size {
  margin-right: 20px;
}

.button--white {
  background-color: #ffffff;
  color: #ff0000;
}
.red--dot {
  width: 17px;
  height: 17px;
  background-color: #ff0000;
  background-image: url(/assets/Icon\ Arrow\ Down.svg);
  border-radius: 50%;
  padding: 17px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 9999;
  display: block;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}
/* main */

.blog,
.service,
.contact {
  display: flex;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 35px;
  padding-top: 65px;
  padding-bottom: 100px;
  justify-content: center;
  align-items: center;
}

.blog .container {
  flex-direction: column;
}

.blog--title {
  position: relative;
  display: inline-block;
  width: min-content;
  margin: 0 auto;
  margin-bottom: 35px;
}
.blog--title::before,
.blog--title::after {
  content: "";
  height: 3px;
  width: 50px;
  background-color: #ff0000;
  border-radius: 8px;
  position: absolute;
  top: 50%;
}
.blog--title::before {
  left: -60px;
}
.blog--title::after {
  right: -60px;
}

.posts--container {
  display: flex;
  column-gap: 16px;
}
.post--title {
  font-family: var(--main-font);
  font-weight: 400;
  color: #6a6a6a;
  font-size: 19px;
  margin-top: 9px;
}

.post {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.post--text {
  font-family: var(--secondary-font);
  font-weight: 300;
  font-size: 14px;
  color: #6a6a6a;
  line-height: 19px;
}

.read--more {
  background-color: #ff0000;
  text-decoration: none;
  color: #ffffff;
  border-radius: 40px;
  font-size: 14px;
  padding: 10px 29px;
  width: fit-content;
}

.service .container {
  flex-direction: column;
}

.color.blog--title {
  color: #ffffff;
}

.service {
  background-color: #28272c;
}

.post--service {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.post--service img {
  border-radius: 50%;
}

.second.posts--container {
  display: flex;
  column-gap: 107px;
}

.color.post--title,
.color.post--text {
  color: #ffffff;
  text-align: center;
}
/* section contact */

.contact .container {
  flex-direction: column;
}

.contact--and--text {
  display: flex;
  justify-content: center;
}

.contact--and--text > div {
  width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.checkbox__container {
  display: flex;
}

.car__photo {
  width: 444px;
  height: 316.5px;
  background-image: url(../assets/Form\ Photo.png);
  background-repeat: no-repeat;
}

.checkbox__container {
  padding-left: 16px;
  display: flex;
  gap: 15px;
}
.checkbox__container label {
  font-family: var(--secondary-font);
  font-weight: 300;
  color: #b2b2b2;
  font-size: 10px;
  border-radius: 8px;
  border: 1px #d1d1d1;
}
.inputfield {
  font-size: 16px;
  height: 38px;
}
.inputfield:active {
  border: 1px solid #d1d1d1;
  box-shadow: 0px 1px 6px #ff00004d;
}

.message {
  height: 140px;
}

.inputfield::placeholder {
  padding-left: 12px;
  font-family: var(--secondary-font);
  color: #b2b2b2;
  font-size: 16px;
}

.form__button {
  border-radius: 40px;
  border: 1px #ff0000;
  font-size: 14px;
  color: #ff0000;
  border: 1px solid #ff0000;
  width: fit-content;
  padding: 10px 30px;
  align-self: flex-end;
  display: flex;
}
.form__button:active {
  box-shadow: 0px 3px 6px #ff00004d;
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label:before {
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  content: "\00a0";
  display: inline-block;
  font: 22px/1em sans-serif;
  height: 22px;
  width: 22px;
  margin: 0 0.5em 0 0;
  padding: 0;
  vertical-align: top;
  min-width: 23px;
}

input[type="checkbox"]:checked + label:before {
  background: #fff;
  color: red;
  content: "\2713";
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  min-width: 23px;
}

label {
  display: flex;
}

/* footer */

.footer {
  background-color: #28272c;
  width: 100vw;
  height: 200px;
  margin-bottom: 0;
  padding-top: 40px;
  padding-left: 139px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer__logo {
  display: flex;
}

.footer__logo img {
  width: 31px;
  height: auto;
  margin-right: 8px;
}

.footer__logo .footer__title {
  color: #ff0000;
  font-family: var(--main-font);
  font-weight: bolder;
  font-size: 25px;
  padding-left: 0;
}
.footer__logo .footer__title span {
  color: #ffffff;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 25px;
}

.list__columns {
  display: flex;
  column-gap: 141px;
  font-size: 14px;
}

.list__columns a {
  font-family: var(--main-font);
  font-weight: 14px;
  color: #fff;
  list-style: none;
  text-decoration: none;
}

a:hover {
  color: #ff0000;
}

.copyright {
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 12px;
  color: #d1d1d1;
  align-self: flex-end;
  position: absolute;
  right: 139px;
  bottom: 40px;
}

.first__column {
  margin-top: 22px;
}

.second__column {
  margin-top: 22px;
}

.first__column ul li {
  display: flex;
  row-gap: 7px;
  padding: 7px;
}

.second__column ul li {
  display: flex;
  row-gap: 7px;
  padding: 7px;
}
